* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
}

.w-1200px {
  width: 95vw;
  min-width: 1200px;
}

.main-nav {
  position: absolute;
  display: flex;
  z-index: 10;
  top: 75px;
  right: calc((100% - 900px) / 2);
  width: 955px;
  background: linear-gradient(
    #585858 0%,
    #747474 4%,
    #747474 35%,
    #6e6e6e 50%,
    #585858 50%,
    #5c5c5c 75%,
    #868686 96%,
    #747474 96%,
    #585858 100%
  );
  border-radius: 4px;
}

.main-nav .fab {
  font-size: 22px;
}

.main-nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  line-height: 25px;
  align-content: center;
}

.main-nav li {
  display: flex;
  justify-content: center;
  border-right: 1px solid rgb(155, 145, 145);
  width: 105px;
  padding: 4px 0;
}

.main-nav li a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
}

.main-nav .search {
  position: relative;
}

.main-nav .search .fas {
  color: white;
  position: absolute;
  right: 90px;
  top: 12px;
  font-size: 12px;
}

.main-nav input {
  width: 95px;
  height: 20px;
  border-radius: 10px;
  background: linear-gradient(#7c7c7c 0%, #606060 50%, #747474 90%);
  margin: 8px 15px 0 10px;
}

.main-div {
  margin: 0 auto;
  height: 80vh;
  background: url(https://web.archive.org/web/20140301004302im_/http://images.apple.com/v/home/as/images/your_verse_hero.jpg)
    50% 100% no-repeat;
  background-size: cover;
  position: relative;
}

.main-div div {
  height: 200px;
  width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.main-div h1 {
  font-size: 65px;
  font-weight: 100;
  margin-bottom: 25px;
}

.main-div p {
  font-size: 30px;
  line-height: 40px;
}

.main-div span {
  display: block;
  margin-top: 25px;
}

.main-div i {
  font-weight: 100;
  color: hsl(0deg 0% 100% / 70%);
}

/* -------------------------- Section below ---------------------- */

.section-below {
  width: 95vw;
  min-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.box {
  margin-right: 2px;
  margin-top: 2px;
  width: 364px;
  height: 200px;
}

.box1 {
  background-image: url(https://web.archive.org/web/20140301004610im_/http://images.apple.com/home/images/promo_iphone5s.jpg);
}

.box2 {
  background-image: url(https://web.archive.org/web/20140301004610im_/http://images.apple.com/home/images/promo_iphone5c.jpg);
}

.box3 {
  background-image: url(https://web.archive.org/web/20140301004610im_/http://images.apple.com/home/images/promo_30_years.jpg);
}

.box4 {
  background-image: url(https://web.archive.org/web/20140301004610im_/http://images.apple.com/home/images/promo_supplier_responsibility.jpg);
}

/* ------------------------------- Footer ----------------------------- */

footer {
  width: 900px;
  margin: 0 auto;
}

.left {
  float: left;
}

.footer-nav {
  float: right;
}

.clear-left {
  clear: left;
}

.clear-left nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
