* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
}

nav {
  position: fixed;
  z-index: 10;
  top: 125px;
  right: calc((100% - 900px) / 2);
  width: 900px;
  background: linear-gradient(white, gray);
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  line-height: 25px;
  align-content: center;
}

nav li {
  display: flex;
  justify-content: center;
  border-right: 1px solid #fff;
  width: 100px;
}

nav li:last-child {
  border-right: none;
}

.main-div {
  width: 95vw;
  min-width: 1200px;
  margin: 0 auto;
  height: 80vh;
  background: url(https://web.archive.org/web/20140301004302im_/http://images.apple.com/v/home/as/images/your_verse_hero.jpg)
    50% 100% no-repeat;
  background-size: cover;
  position: relative;
}

.main-div div {
  height: 200px;
  width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.main-div h1 {
  font-size: 65px;
  font-weight: 100;
  margin-bottom: 25px;
}

.main-div p {
  font-size: 30px;
  line-height: 40px;
}

.main-div span {
  display: block;
  margin-top: 25px;
}

.main-div i {
  font-weight: 100;
  color: hsl(0deg 0% 100% / 70%);
}
